body{
    background-size: cover;
}
.heading{
    font-size: 25px;
    width: 100%;
    margin: 0%;
}
#start,#number_of_objects,#status{
    font-size: 18px;
}

canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px gray;
}
#note{
    color: black;
    font-size: 20px;
}
#note2{
    color: black;
    font-size: 20px;
}
#item{
   width:30%;
   border-radius: 5px;
   height: 30px;
}